
html::-webkit-scrollbar{
    width: 3px;
    }
    html::-webkit-scrollbar-thumb{
    background: rgba(8, 66, 5, 0.722);
    }
    html::-webkit-scrollbar-track{
    background: white;
    }
    

body {
    width: 100%;    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #81C784;
    color: #fff;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #36468c;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}


#news-form{
    display: flex;
    flex-direction: column;
    line-height: 50px;
    width: 100%;
}

#news-form input{
    border-radius: 5px;
    width: 50%;
    height: 30px;
    border: none;
    border: solid rgba(156, 98, 11, 0.504) 1px;
    font-size: large;
}
 textarea{
    border-radius: 5px;
    width: 50%;
    height: 100px;
    border: solid gray 1px;
    font-size: large;
    outline: solid orange 1px;
}
#img-input{
    background-color: rgba(63, 62, 62, 0.623);
    border-radius: 5px;
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
}

button{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    background-color: #4CAF50;
    color: white;
    font-weight: bolder;
    border: none;
}
footer {
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    width: 98%;
}
