@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');







:root{
  --main-color: rgb(11, 10, 17);
  --text-color: rgb(255, 255, 255);
  --font: 'Nunito', sans-serif;
  --principal: rgb(247, 210, 4);
  --head:  rgb(53, 47, 47);
  --black: black;
}

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}


li a{
font-family: var(--font);
text-decoration: none;
color: white;
}

html::-webkit-scrollbar{
width: 3px;
}
html::-webkit-scrollbar-thumb{
background: rgb(81, 81, 141);
}
html::-webkit-scrollbar-track{
background: white;
}

.list-one{
  color: rgb(31, 187, 31);
  font-size: medium;
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
    body{
      width: 100%;
      height: max-content;
    }

    .head{
        background-image: url('/bilodiImages/charity2.jpg');
        height: max-content;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
    .list-one{
      color: rgb(31, 187, 31);
      font-size: medium;
      font-weight: bolder;
    }
    #nav-bar{
        color: white;
        padding: 8px;
        opacity: 85%;
        display: none;
        justify-content: space-between;
        background-color: black;
      }
      .nav-bar li{
        font-weight: bold;
        text-decoration: none;
      }
      .nav-bar li a:hover{
        color: rgb(11, 155, 11);
        transform: scale(.99);
        transition-duration: 0.3s;
        cursor: pointer;
        font-weight: bolder;
    
      }
    
    .nav-bar ul{
        display: flex;
        justify-content: space-between;
    }
    
    .nav-bar li{
        list-style: none;
        margin-right: 25px;
        float: right;
        text-decoration: none;
    }
    #button-top form{
        margin-left: 10px;
      }
      #dn{
        display: none;
      }
      #dn2{
        display: block;
      }
    #cont-text{
        margin-top: 100px;
        display: none;
        text-align: center;
    }
    #cont-text h1{
        color: white;
        font-weight: bold;
    }
    
    #blog{
        display: none;
    }
    
    
    /* the second part of middle page */
    .middle-page{
        background-color: white;
    }
    
    #two-obj{
        width: 100%;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .reach-to-us{
        width: 100%;
        word-wrap: break-word;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .suporters{
      width: 100%;
      word-wrap: break-word;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .reach-to-us input,textarea{
        width: 300px;
        margin: 10px;
        outline: none;
        border:  solid orange 0.1px;
        padding: 10px;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* submition form */
    
    #btn-submit{
        margin-left: 70%;
    }
    
    /* end of submition form */
    
    
    #first-suppoter{
        background-color: rgba(128, 128, 128, 0.39);
        width: 80%;
        margin: 20px;
        color: black;
        border-radius: 10px;
    }
    #first-supporter-img{
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 10px;
    }

    .footer-page{
      position: relative;
      background-image: url('/bilodiImages/bk.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

  .footer-container {
  display: block;
  color: white;
  }
  
  .footer-left {
  margin-bottom: 20px;
  }
  
  .footer-right {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  }
  
  .footer-right button {
  padding: 10px;
  }
  
  .footer-bottom {
  flex-wrap: wrap;
  }
  
  .footer-bottom-left,
  .footer-bottom-middle,
  .footer-bottom-right {
  width: 100%;
  margin-bottom: 20px;
  }
  
  .footer-bottom-middle {
  text-align: center;
  }

  .footer2 {
      flex-wrap: wrap;
    }
    
    .footer2-left,
    .footer2-right {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
    
    }
    
    .footer2-left {
      order: 2;
    }
    
    .footer2-right {
      order: 1;
    }

    
}