<!DOCTYPE html>
<html>
    <head>
        <title>bilodi/About us</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">  
<link rel="stylesheet" href="/computercss/aboutcss/about.css">
<link rel="stylesheet" href="/phonecss/aboutcss/about.css">
<script src="/mainJS/contactJS/contact.js"></script>
<script src="/comonfile/logbuttons.js"></script>

</head>
    <body>

<div class="head">
 <div class="nav-bar" id="nav-bar">
        <div>
            <span class="list-one">Bilodi Charity Organisation</span>
        </div>
        <div>
        <ul>
            
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div style="display: flex; flex-direction: row;" id="button-top">
        <form method="get" action="loginRequest">
            <button class="btn btn-primary" type="submit" onclick="join()" id="join">JOIN</button>
            </form>
            <form method="get" action="donateRequest" id="dn">
                <button class="btn btn-success" type="submit">Donate</button>
            </form>
    </div>
    </div>
<div id="cont-text">
    <h2>About us</h2>
    <div>
    <form method="get" action="donateRequest" id="dn2">
        <button class="btn btn-success" type="submit">Donate</button>
    </form>
</div>
</div>

</div>





<div class="blur"></div>
    <div class="content">
      <h1>About Bilodi Charity Organization</h1>
      <img src="/bilodiImages/logo.jpg" alt="Bilodi Charity Organization" />
      <p>Bilodi Charity Organization is a non-profit organization dedicated to helping people in need around the world. Our mission is to provide humanitarian aid and support to those who are suffering from poverty, war, and natural disasters.</p>
      <p>Since our founding in 2005, we have worked tirelessly to make a positive impact on the lives of people in countries such as Syria, Yemen, and Somalia. Our focus is on providing emergency relief, including food, water, and shelter, as well as long-term development programs that help communities become self-sufficient.</p>
      <p>We believe that everyone deserves to live a life of dignity and respect, and we are committed to making this a reality for as many people as possible. With the help of our dedicated volunteers and supporters, we are able to make a real difference in the world.</p>
      <h2>Our Values</h2>
      <p>At Bilodi Charity Organization, we are guided by the following values:</p>
      <ul>
        <li>Compassion</li>
        <li>Empathy</li>
        <li>Dignity</li>
        <li>Respect</li>
        <li>Solidarity</li>
      </ul>

      <img src="/bilodiImages/BILODI1.jpg" id="bilody-banner" style="width: 100%">
      <h2>How You Can Help</h2>
      <p>If you would like to support our work, there are many ways to get involved:</p>
<ul>
  
<li>Make a donation</li>
<li>Become a volunteer</li>
<li>Spread the word on social media</li>
<div class="help-ways">
  <div class="help-way">
    <img src="/bilodiImages/charity1.jpeg" alt="Charity image" style="border-radius: 5px;">
    <h3>Donate Money</h3>
    <p>You can donate money to support our cause. Your donation will help us provide food, shelter, and education to those in need.</p>
    <form method="get" action="donateRequest" id="dn">
      <button class="btn btn-primary" type="submit">Donate</button>
  </form>
  </div>

  
  <div class="help-way">
    <img src="/bilodiImages/charity3.jpeg" alt="Charity image" style="border-radius: 5px;">
    <h3>Donate Goods</h3>
    <p>You can donate goods such as clothing, books, and toys to help those in need. Your donation will help us improve the lives of the less fortunate.</p>
    <a href="donate-goods-page.html" class="btn btn-primary">Donate Goods Now</a>
  </div>
  
  <img src="/bilodiImages/bilodiDirector.png" id="bilody-banner" style="width: 100%">

</div>
</ul>
<p>No matter how you choose to help, your support will make a real difference in the lives of people in need.</p>
<h2>Contact Us</h2>
<p>If you have any questions or would like to learn more about Bilodi Charity Organization, please don't hesitate to contact us:</p>
<ul>
<li>Email: bilodicharity.org</li>
<li>Phone: +256 753956857</li>
<li>Address: 123 Main Street, Anytown, USA</li>
</ul>
</div>


    
<div class="footer-page">
    <footer>
        <div class="footer-container">
          <div class="footer-left">
            <h3>Make a Donation</h3>
            <p>Your donation can help change lives. Every little bit counts.</p>
            <p>Don't forget that this website is for the BILODI ORGANISATION, a registered nonprofit organization committed to improving the lives of people in need.</p>
          </div>
          <div class="footer-right">
            <form method="get" action="/donateRequest">
              <button type="submit">Donate Now</button>
            </form>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <h4>About Us</h4>
            <p>BILODI ORGANISATION is a registered nonprofit organization committed to improving the lives of people in need. Learn more about our mission and work.</p>
            <div style="display: flex; flex-direction: row;">
              <a href="http://youtube.com/channel/UC3OGVcVKxh4dJ_TCMWgC4Lg" ><i class="fa fa-youtube" style="font-size: 50px; color: green; margin: 10px;"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100090421141929"><i class="fa fa-facebook" style="font-size: 50px; color: green; margin: 10px;"></i></a>
              <a href="https://twitter.com/JashanJabz?t=fvYEamqjSyPsuD-ZvhZN3w&s=08"><i class="fa fa-twitter" style="font-size: 50px; color: green; margin: 10px;"></i></a>
              <a href="https://www.instagram.com/reel/Cp-Olzvo4Si/?igshid=MDJmNzVkMjY="><i class="fa fa-instagram" style="font-size: 50px; color: green; margin: 10px;"></i></a>
             </div>
          </div>
          <div class="footer-bottom-middle">
            <h4>Get in Touch</h4>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Support Us</a></li>
              <li><a href="#">Volunteer</a></li>
            </ul>
          </div>
          <div class="footer-bottom-right">
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <footer class="footer2">
        <div class="footer2-left">
          <a href="#">Privacy Policy</a>
          <span>|</span>
          <a href="#">Terms of Use</a>
        </div>
        <div class="footer2-right">
          <form action="join" method="get">
            <label for="email">Subscribe Now:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address">
            <button type="submit">Join</button>
          </form>
        </div>
      </footer>
    </div>



    </body>
</html>
