
<!DOCTYPE html>
<html lang="en">
    <head>

    <title>BilodiCharity / about</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="canonical" href="http://zarcom.herokuapp.com/about">

<meta property="og:type" content="website">
<meta property="og:title" content="about bilodi charity">
<meta property="og:site_name" content="bilodicharity.org">
<meta property="og:description" content="read about bilodicharity">

<meta property="og:url" content="http://zarcom.herokuapp.com/about">
<meta property="og:locale" content="en_UG">

<meta name="description" content="read about bilodicharity and dirscover more about">
<meta name="keywords" content="discover about bilodicharity,bilodicharity founder,bilodicharity objectives">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="/style/compcss.css">
<link rel="stylesheet" href="/style/phone.css">
<link rel="stylesheet" href="/style/news.css">
<link rel="stylesheet" href="/style/about.css">


<script src="/mainjs/home.js"></script>

    </head>
    <%- include('search') %>
    <body>
      <section id="nav-bar">
        <div class="navigation">

            <div class="link">
              <a href="/"><span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><span style="color: rgb(9, 95, 25);">Bilodi</span>Charity</span></a>
                 <button class="btn btn-lg" id="menu-lk"><i class="fa fa-bars" id="bt"></i></button>
            </div>
        <div class="menu-link" id="menu-link">
          <a href="/">Home</a>
          <a href="/contact">Contact us</a>
          <a href="/about">About us</a>
        </div>
        </div>
        <div id="userInt">
          <style>
            #other-description{
              display: none;
            }
            #userInt{
               width: 100%;
               background-color: black; 
               padding-top: 5px;
                padding-left: 5px;
                 display: flex; 
                 justify-content: space-between;
            }
            #userInt p{
            color: white;
            font-size: medium;
            padding: 5px;
            transform: scale(.8);
            }
            
            #fa-user{
              border: solid white 2px;
              border-radius: 40%;
              padding: 10px;
              background-color: rgb(14, 97, 153);
            }
            #fa-arrow-down{
              color: red;
            }
            #account{
              border: solid rgb(14, 97, 153) 1px;
              border-radius: 15px;
              padding: 5px;
              cursor: pointer;
              font-size: small;
              transform: scale(0.9);
            }
            #account:hover{
              transform: scale(0.99);
              border: solid rgb(4, 191, 35) 1px;
            }
            
          </style>
          <div style="display: flex;">  
            <p><i class="fa fa-eye"></i><%= views %></p>
            <p><i class="fa fa-user"></i><%= users %></p>
            </div>
          <div>
            <p id="account"><i class="fa fa-user" id="fa-user"></i><%= user %> <i class="fa fa-arrow-down" id="fa-arrow-down"></i></p>
          </div>

        </div>
      </section>
        <section class="content">


<section class="resources">

<div class="res">
  <div id="title-res">
    <h1>bilodicharity</h1>
  </div>
  <div id="text-res">
    <p>ZARCOM can be defined as a website and online community dedicated to providing quality advice and tips on technology-related topics. Its mission is to help individuals and organizations make informed decisions about technology by providing reliable, unbiased information that is accessible to readers of all levels. ZARCOM's content covers a wide range of topics in computer science and beyond, including software development, cybersecurity, data analytics, and cloud computing.</p>
    
</div>
</div>

<div class="res">
  <div id="title-res">
    <h1>Our Mission</h1>
  </div>
  <div id="text-res">
    
  <p>Our mission is to empower individuals and organizations to make informed decisions about technology. With ZARCOM, you can trust that you're getting reliable and unbiased information to help you stay ahead of the curve.</p>
  <p>
    We pride ourselves on delivering high-quality content that is both informative and engaging. Our articles, tutorials, and guides are written by industry experts and are designed to be accessible to readers of all levels.
  </p>
  </div>
</div>

<div class="res">
  <div id="title-res">
    <h1>Tips</h1>
  </div>
  <div id="text-res">
    <p>ZARCOM provide tips on a wide range of technology-related topics, including software development, cybersecurity, data analytics, cloud computing, and more. These tips could cover best practices, industry trends, and practical advice for professionals and enthusiasts alike.</p>
  </div>
</div>

</section>
        
           
        </section>

        


        <footer>
          <div class="container">
            <div class="row">
              <p>BILODI ORGANISATION is a registered nonprofit organization committed to improving the lives of people in need. Learn more about our mission and work.</p>
              <p>Bilodi Charity uses the donated money to provide children in Uganda with basic needs such as food, shelter, and education. With your help, we can ensure that these children have access to the resources they need to grow up healthy and reach their full potential.</p>
              
              <div class="col-md-4">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                  <li>kamapala , central region</li>
                  <li>Phone: +256753956857</li>
                  <li>Email: bilodicharity.org@gmail.com</li>
                  
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Follow Us</h4>
                <div class="list-unstyled" style="display: flex; flex-direction: row;">
                    <a href="https://www.facebook.com/profile.php?id=100090421141929"><i class="fa fa-youtube" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                    <a href="https://twitter.com/JashanJabz?t=fvYEamqjSyPsuD-ZvhZN3w&s=08"><i class="fa fa-facebook" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                    <a href="https://www.instagram.com/reel/Cp-Olzvo4Si/?igshid=MDJmNzVkMjY"><i class="fa fa-twitter" style="font-size: 50px; color: green; margin: 10px;"></i></a>
      
                </div>
              </div>
              <div class="col-md-4">
                <h4>message</h4>
                <p>Send a message to bilodicharity</p>
                <form action="sendmail" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="message" name="message" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div>
          <div id="cond">
                    <a href="/about">About</a>
                    <a href="/privacypolicy">Privacy Policy</a>
                    <a href="/contact">Contact Us</a>
                   <a href="/termsconditions">Terms & conditions</a>
          </div>
        </footer>          
        
    </body>
</html>
