<!DOCTYPE html><html><head>
    <title>bilodi/contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">  
<script src="/mainJS/contactJS/contact.js"></script>
<script src="/comonfile/logbuttons.js"></script>
<link rel="stylesheet" href="/computercss/contactcss/contact.css">
<link rel="stylesheet" href="/phonecss/contactcss/contact.css">
</head>
<body>

<div class="head">
  <center>
  <div>
    <span><h4 class="list-one">Bilodi Charity Organisation</h4></span>
</div>
</center>
<div class="nav-bar" id="nav-bar">
    <div>
    <ul>
        
        <li><a href="/">Home</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
<div style="display: flex; flex-direction: row;" id="button-top">
    <form method="get" action="logoutRequest" id="logout">
      <button class="btn btn-info" type="submit" onclick="logout()">Logout</button>
      </form>
    <form method="get" action="donateRequest" id="dn">
        <button class="btn btn-success" type="submit">Donate</button>
    </form>
</div>
</div>
<div id="cont-text">
<div>
<form method="get" action="donateRequest" id="dn2">
    <button class="btn btn-success" type="submit">Donate</button>
</form>
</div>
</div>

</div>

<div class="middle-page">

<div id="two-obj">

<div class="reach-to-us">
<h2>reach out to us</h2>
<div class="input-messages">
<!-- user message -->
<form method="post" action="user-message">
<input type="text" placeholder="name" id="name-message" name="name" required=""> 
<br>   
<input type="email" placeholder="Email address" id="name-message" name="name" required="">
<br>
<textarea placeholder="message" required=""></textarea> 
<div>
    <button class="btn btn-success" id="btn-submit" type="submit">submit</button>
</div>
</form>
<!-- end of user message -->
</div>
</div>

<div class="suporters">
 <h2>Supporter</h2>
 <div id="first-suppoter">
 <img src="/bilodiImages/logo.jpg" id="first-supporter-img" alt="bilodi">
 <p>Bilodi charity</p>
 </div>
 <div id="first-suppoter">
<img src="/bilodiImages/juuko.jpg" id="first-supporter-img" alt="JUUKO">
<p>I am JUUKO ABUBAKAR , i decided to stand with these innocent needly children</p>
 </div>
 <div id="first-suppoter">
<img src="/bilodiImages/david.jpg" id="first-supporter-img" alt="david">
<p>I am David prince and decided to help with what can to bilodi to help them improve on their services</p>
 </div>
 <div id="first-suppoter">
<img src="/bilodiImages/samuel.jpg" id="first-supporter-img" alt="samuel">
<p>I am Samuel and decided to help with what can to bilodi to help them improve on their services</p>
 </div>
</div>

</div>
</div>







<div class="footer-page">
<footer>
    <div class="footer-container">
      <div class="footer-left">
        <h3>Make a Donation</h3>
        <p>Your donation can help change lives. Every little bit counts.</p>
        <p>Don't forget that this website is for the BILODI ORGANISATION, a registered nonprofit organization committed to improving the lives of people in need.</p>
      </div>
      <div class="footer-right">
        <form method="get" action="/donateRequest">
          <button type="submit">Donate Now</button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <h4>About Us</h4>
        <p>BILODI ORGANISATION is a registered nonprofit organization committed to improving the lives of people in need. Learn more about our mission and work.</p>
        <div style="display: flex; flex-direction: row;">
          <a href="http://youtube.com/channel/UC3OGVcVKxh4dJ_TCMWgC4Lg" ><i class="fa fa-youtube" style="font-size: 50px; color: green; margin: 10px;"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100090421141929"><i class="fa fa-facebook" style="font-size: 50px; color: green; margin: 10px;"></i></a>
          <a href="https://twitter.com/JashanJabz?t=fvYEamqjSyPsuD-ZvhZN3w&s=08"><i class="fa fa-twitter" style="font-size: 50px; color: green; margin: 10px;"></i></a>
          <a href="https://www.instagram.com/reel/Cp-Olzvo4Si/?igshid=MDJmNzVkMjY="><i class="fa fa-instagram" style="font-size: 50px; color: green; margin: 10px;"></i></a>
         </div>
      </div>
      <div class="footer-bottom-middle">
        <h4>Get in Touch</h4>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Support Us</a></li>
          <li><a href="#">Volunteer</a></li>
        </ul>
      </div>
      <div class="footer-bottom-right">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <footer class="footer2">
    <div class="footer2-left">
      <a href="#">Privacy Policy</a>
      <span>|</span>
      <a href="#">Terms of Use</a>
    </div>
    <div class="footer2-right">
      <form action="join" method="get">
        <label for="email">Subscribe Now:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address">
        <button type="submit">Join</button>
      </form>
    </div>
  </footer>
</div>

</body>
</html>