<!DOCTYPE html>
<html lang="en">
    <head>

    <title>bilodicharity / Privacy Policy</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="canonical" href="zarcom.herokuapp.com/privacypolicy">

<meta property="og:type" content="website">
<meta property="og:title" content="zarcom Privacy and Policy">
<meta property="og:site_name" content="zarcom">
<meta property="og:description" content="read about zarcom Privacy and Policy">
<meta property="og:url" content="/zarcoImages/zarco.png">
<meta property="og:locale" content="en_GB">

<meta name="description" content="read about zarcom policy and privacy">
<meta name="keywords" content="zarcom privacy,zarcom policy">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="/style/compcss.css">
<link rel="stylesheet" href="/style/phone.css">
<link rel="stylesheet" href="/style/news.css">
<link rel="stylesheet" href="/style/about.css">


<script src="/mainjs/home.js"></script>

    </head>
    <%- include('search') %>
    <body>
      <section id="nav-bar">
        <div class="navigation">

            <div class="link">
              <a href="/"><span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><span style="color: rgb(9, 95, 25);">Bilodi</span>Charity</span></a>
                 <button class="btn btn-lg" id="menu-lk"><i class="fa fa-bars" id="bt"></i></button>
            </div>
        <div class="menu-link" id="menu-link">
            <a href="/">Home</a>
            <a href="/contact">Contact us</a>
            <a href="/about">About us</a>
        </div>
        </div>
        <div id="userInt">
          <style>
            #other-description{
              display: none;
            }
            #userInt{
               width: 100%;
               background-color: black; 
               padding-top: 5px;
                padding-left: 5px;
                 display: flex; 
                 justify-content: space-between;
            }
            #userInt p{
            color: white;
            font-size: medium;
            padding: 5px;
            transform: scale(.8);
            }
            
            #fa-user{
              border: solid white 2px;
              border-radius: 40%;
              padding: 10px;
              background-color: rgb(14, 97, 153);
            }
            #fa-arrow-down{
              color: red;
            }
            #account{
              border: solid rgb(14, 97, 153) 1px;
              border-radius: 15px;
              padding: 5px;
              cursor: pointer;
              font-size: small;
              transform: scale(0.9);
            }
            #account:hover{
              transform: scale(0.99);
              border: solid rgb(4, 191, 35) 1px;
            }
            
          </style>
          <div style="display: flex;">  
            <p><i class="fa fa-eye"></i><%= views %></p>
            <p><i class="fa fa-user"></i><%= users %></p>
            </div>
          <div>
            <p id="account"><i class="fa fa-user" id="fa-user"></i><%= user %> <i class="fa fa-arrow-down" id="fa-arrow-down"></i></p>
          </div>

        </div>
      </section>
        <section class="content">


          <style>


@media screen and (max-width: 800px){

.privacy{
text-align: left;
transform: scale(.9);
}
.privacy h1{
font-size:x-large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.privacy p{
font-size: medium;
}
#ct{
  display: flex;
  flex-wrap: wrap;
}
#ct #p{
        margin-right: 30px;
        border-bottom: solid black 1px;
        font-size: larger;
      }

}

@media screen and (min-width: 801px){
.privacy{
text-align: left;
transform: scale(.9);
width: 60%;
}
.privacy h1{
font-size:x-large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.privacy p{
font-size: medium;
}
#ct{
  display: flex;
  flex-wrap: wrap;
}
#ct #p{
        margin-right: 30px;
        border-bottom: solid black 1px;
        font-size: larger;
      }
}


          </style>
<section class="privacy">


    <h1>Information We Collect</h1>
    <p>We may collect personal information, such as your name and email address, as well as usage information about how you interact with our website, and device information like your IP address and browser type. This information may be collected through cookies, web beacons, or directly from you. We use this information to provide and improve our services, and to personalize your experience on our website.</p>
    
    <h1>How We Use Your Information</h1>
    <p>We use the information we collect to provide and improve our services, to communicate with you, and to personalize your experience on our website. We may also share your information with third-party partners for analytics or advertising purposes, and to comply with legal obligations or protect our rights.</p>
  
    <h1>Legal Basis for Processing</h1>
    <p>The legal basis for processing your personal data may be your consent, our legitimate business interests, or compliance with legal obligations. You have the right to withdraw your consent at any time, and we will cease processing your data if we do not have another legal basis for doing so.</p>
  
    <h1>Information Sharing</h1>
    <p>We may share your information with third-party partners for analytics or advertising purposes, or to comply with legal obligations. We will only share your information with third parties who have agreed to keep your information confidential and to use it only for the purposes for which we have shared it with them.</p>
  
    <h1>Security Measures</h1>
    <p>We take reasonable measures to protect your information from unauthorized access, alteration, or destruction. We use encryption, access controls, and other security measures to protect your personal data. In the event of a data breach or other security incident, we will notify you as required by applicable law.</p>
  
    <h1>User Rights</h1>
    <p>You have the right to access, correct, or delete your personal information, and to restrict or object to the processing of your data. You may also have the right to data portability in certain circumstances. To exercise your rights, please contact us using the information provided below.</p>
    <div  id="ct">
    <p id="p"><a href="/contact">Contact Us</a></p>
    <p id="p">bilodicharity.org@gmail.com</p>
    <p id="p"><b>Phone:</b> +256753956857</p>
    </div>
  
    <h1>Cookies and Tracking Technologies</h1>
    <p>We use cookies, web beacons, and other tracking technologies to collect information about your usage of our website and to personalize your experience. You may opt out of certain tracking technologies or manage your preferences through your browser settings. Please note that disabling cookies may affect your ability to use certain features of our website.</p>
  
    <h1>Children's Privacy</h1>
    <p>We do not knowingly collect personal information from children under the age of 13. If you are under the age of 13, please do not provide us with any personal information. If we become aware that we have collected personal information from a child under the age of 13 without parental consent, we will take steps to delete that information.</p>
  
    <h1>International Transfers</h1>
    <p>Your personal information may be transferred to other countries for processing or storage. We will only transfer your information to countries that have been deemed to provide adequate levels of protection for personal information, or to third parties who have agreed to safeguard your information with appropriate safeguards.</p>
  
    <h1>Changes to the Policy</h1>
    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on our website. You are advised to review this privacy policy periodically for any changes.</p>
  
  


</section>

        
           
        </section>

        


       
        <footer>
          <div class="container">
            <div class="row">
              <p>BILODI ORGANISATION is a registered nonprofit organization committed to improving the lives of people in need. Learn more about our mission and work.</p>
              <p>Bilodi Charity uses the donated money to provide children in Uganda with basic needs such as food, shelter, and education. With your help, we can ensure that these children have access to the resources they need to grow up healthy and reach their full potential.</p>
              <div class="col-md-4">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                  <li>kamapala , central region</li>
                  <li>Phone: +256753956857</li>
                  <li>Email: bilodicharity.org@gmail.com</li>
                  
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Follow Us</h4>
                <div class="list-unstyled" style="display: flex; flex-direction: row;">
                    <a href="https://www.facebook.com/profile.php?id=100090421141929"><i class="fa fa-youtube" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                    <a href="https://twitter.com/JashanJabz?t=fvYEamqjSyPsuD-ZvhZN3w&s=08"><i class="fa fa-facebook" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                    <a href="https://www.instagram.com/reel/Cp-Olzvo4Si/?igshid=MDJmNzVkMjY"><i class="fa fa-twitter" style="font-size: 50px; color: green; margin: 10px;"></i></a>
      
                </div>
              </div>
              <div class="col-md-4">
                <h4>message</h4>
                <p>Send a message to BilodiCharity</p>
                <form action="sendmail" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="message" name="message" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div>
          <div id="cond">
                    <a href="/about">About</a>
                    <a href="/privacypolicy">Privacy Policy</a>
                    <a href="/contact">Contact Us</a>
                   <a href="/termsconditions">Terms & conditions</a>
          </div>
        </footer>        
    </body>
</html>
