<!DOCTYPE html>
<html lang="en">
    <head>

    <title>BilodiCharity / Terms & conditions</title>
        
<link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="canonical" href="zarcom.herokuapp.com/termscondiitions">

<meta property="og:type" content="website">
<meta property="og:title" content="zarcom terms and conditions">
<meta property="og:site_name" content="zarcom">
<meta property="og:description" content="zarcom terms and  zarcom conditions - how to use data from zarcom">
<meta property="og:url" content="/zarcoImages/zarco.png">
<meta property="og:locale" content="en_UG">

<meta name="description" content="zarcom terms and  zarcom conditions - how to use data from zarcom">
<meta name="keywords" content="zarcom terms, zarcom conditions">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="/style/compcss.css">
<link rel="stylesheet" href="/style/phone.css">
<link rel="stylesheet" href="/style/news.css">
<link rel="stylesheet" href="/style/about.css">


<script src="/mainjs/home.js"></script>

    </head>
    <%- include('search') %>
    <body>
      <section id="nav-bar">
        <div class="navigation">

            <div class="link">
              <a href="/"><span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><span style="color: rgb(9, 95, 25);">Bilodi</span>Charity</span></a>
                 <button class="btn btn-lg" id="menu-lk"><i class="fa fa-bars" id="bt"></i></button>
            </div>
        <div class="menu-link" id="menu-link">
            <a href="/">Home</a>
            <a href="/contact">Contact us</a>
            <a href="/about">About us</a>
        </div>
        </div>
        <div id="userInt">
          <style>
            #other-description{
              display: none;
            }
            #userInt{
               width: 100%;
               background-color: black; 
               padding-top: 5px;
                padding-left: 5px;
                 display: flex; 
                 justify-content: space-between;
            }
            #userInt p{
            color: white;
            font-size: medium;
            padding: 5px;
            transform: scale(.8);
            }
            
            #fa-user{
              border: solid white 2px;
              border-radius: 40%;
              padding: 10px;
              background-color: rgb(14, 97, 153);
            }
            #fa-arrow-down{
              color: red;
            }
            #account{
              border: solid rgb(14, 97, 153) 1px;
              border-radius: 15px;
              padding: 5px;
              cursor: pointer;
              font-size: small;
              transform: scale(0.9);
            }
            #account:hover{
              transform: scale(0.99);
              border: solid rgb(4, 191, 35) 1px;
            }
            
          </style>
          <div style="display: flex;">  
            <p><i class="fa fa-eye"></i><%= views %></p>
            <p><i class="fa fa-user"></i><%= users %></p>
            </div>
          <div>
            <p id="account"><i class="fa fa-user" id="fa-user"></i><%= user %> <i class="fa fa-arrow-down" id="fa-arrow-down"></i></p>
          </div>

        </div>
      </section>
        <section class="content">

<style>
  @media screen and (max-width: 800px){

    .terms{
    text-align: left;
    transform: scale(.9);
  }
  .terms h1{
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .terms p{
    font-size: medium;
  }

}
 
@media screen and (min-width: 801px){
  .terms{
    text-align: left;
    transform: scale(.9);
    width: 60%;
  }
  .terms h1{
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .terms p{
    font-size: medium;
  }
}
</style>
<section class="terms">

  <h1>1. Acceptance of Terms</h1>
  <p>
  By accessing or using the website, you agree to be bound by these Terms of Use. If you do not agree to these terms, please do not use the website.</p>

  <h1>2. Content Ownership</h1>
  <p>
     All content on the website, including articles, images, videos, and other materials, are owned by the website and are protected by copyright and other intellectual property laws.</p>
  
 <h1>3. Permitted Use</h1>
 <p> You may access and use the website for your personal, non-commercial use only. You may not copy, modify, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products, or services obtained from the website without the express written consent of the website.</p>
  
 <h1>4. User Content</h1> 
 <p>You may submit comments, suggestions, or other feedback to the website. By submitting such content, you grant the website a non-exclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media.</p>
  
<h1> 5. Prohibited Conduct</h1>
<p> You may not use the website for any illegal or unauthorized purpose. You may not violate any laws in your jurisdiction, including but not limited to copyright laws. You may not engage in any activity that interferes with or disrupts the website, including the servers and networks connected to the website.</p>
  
 <h1>6. Disclaimer of Warranties</h1>
 <p> The website is provided "as is" without warranty of any kind, either express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>
  
 <h1>7. Limitation of Liability</h1>
 <p> In no event shall the website be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use the website.</p>
  
 <h1>8. Indemnification</h1>
 <p> You agree to indemnify, defend, and hold harmless the website, its officers, directors, employees, agents, licensors, and suppliers from and against all claims, losses, expenses, damages, and costs, including reasonable attorneys' fees, arising out of or in connection with your use of the website.</p>
  
  <h1>9. Termination</h1>
  <p> The website may terminate your access to the website at any time, without cause or notice.</p>
  
 <h1>10. Governing Law</h1>
 <p> These Terms of Use shall be governed by and construed in accordance with the laws of the jurisdiction in which the website is located, without giving effect to any principles of conflicts of law.</p>

</section>

        
           
        </section>

        


       
        <footer>
          <div class="container">
            <div class="row">
              <p>BILODI ORGANISATION is a registered nonprofit organization committed to improving the lives of people in need. Learn more about our mission and work.</p>
              <p>Bilodi Charity uses the donated money to provide children in Uganda with basic needs such as food, shelter, and education. With your help, we can ensure that these children have access to the resources they need to grow up healthy and reach their full potential.</p>
              <div class="col-md-4">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                  <li>kamapala , central region</li>
                  <li>Phone: +256753956857</li>
                  <li>Email: bilodicharity.org@gmail.com</li>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Follow Us</h4>
                <div class="list-unstyled" style="display: flex; flex-direction: row;">
                  <a href="https://www.facebook.com/profile.php?id=100090421141929"><i class="fa fa-youtube" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                  <a href="https://twitter.com/JashanJabz?t=fvYEamqjSyPsuD-ZvhZN3w&s=08"><i class="fa fa-facebook" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                  <a href="https://www.instagram.com/reel/Cp-Olzvo4Si/?igshid=MDJmNzVkMjY"><i class="fa fa-twitter" style="font-size: 50px; color: green; margin: 10px;"></i></a>
    
                </div>
              </div>
              <div class="col-md-4">
                <h4>message</h4>
                <p>Send a message to BilodiCharity</p>
                <form action="sendmail" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="message" name="message" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div>
          <div id="cond">
                    <a href="/about">About</a>
                    <a href="/privacypolicy">Privacy Policy</a>
                    <a href="/contact">Contact Us</a>
                   <a href="/termsconditions">Terms & conditions</a>
          </div>
        </footer>        
    </body>
</html>
