<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web Manager</title>
    <link rel="stylesheet" href="user.css">
  </head>
  <body>
    <header>
      <h1>Web Manager</h1>
      <h2 style="color: lightblue;">mr. <span id="user-title">juuko</span></h2>
    </header>
    <aside>
      <nav>
        <ul>
          <li><a href="#"><h4>Poster</h4></a></li>
          <li><a href="#"><h4>web statistic</h4></a></li>
          <li><a href="/usermanger%%%%=====jfudfoubusdbof@@@@cvhbjljkxnbupx"><h4>User manager</h4></a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <div class="first-news" style="background-color: rgba(44, 79, 110, 0.483);">
        <h3>Fundraising Project Achieves Impactful Results</h3>
      <form id="news-form" method="post" action="/news">


        <label for="img-input">Image:</label>
        <input type="file" id="img-input" name="img">

        <label for="title-input">Title:</label>
        <input type="text" id="title-input" name="title">

        <label for="title-input">category:</label>
        <input type="text" id="category-input" name="category">
        

        <label for="desc-input">Description:</label>
        <textarea id="desc-input" name="desc"></textarea>

        <label for="more-input">More:</label>
        <textarea id="more-input" name="more"></textarea>
        
        <button type="submit">Add News</button>
      </form>
    </div>

      <div class="first-news" style="background-color: rgba(44, 79, 110, 0.483);">
        <h2>Donation news</h2>
      <form id="news-form" method="post" action="/donationNews">


        <label for="img-input">Image:</label>
        <input type="file" id="img-input" name="img">

        <label for="title-input">Title:</label>
        <input type="text" id="title-input" name="title">

        <label for="desc-input">Description:</label>
        <textarea id="desc-input" name="desc"></textarea>
    
        <label for="amount-input">Amount</label>
        <input type="number" id="amount-input" name="amount">
    
        <label for="more-input">More</label>
        <textarea type="text" id="more-input" name="more"></textarea>

        <button type="submit">Add News</button>
      </form>
    </div>




    <section style="background-color: rgba(44, 79, 110, 0.483); border-radius: 10px;">
      <div class="first-news">
        <h3>Project news</h3>
      <form id="news-form" method="post" action="/saveProject">

        <label for="title-insider">Title insider:</label>
        <input type="text" id="title-insider" name="text" placeholder="section" required>

        <label for="title-input">Head:</label>
        <input type="text" id="title-input" name="head">

        <label for="desc-input">Description:</label>
        <textarea id="desc-input" name="description"></textarea>

        <label for="more-input">More:</label>
        <textarea id="more-input" name="more"></textarea>


        <button type="submit">Add project</button>
      </form>
    </div>
     </section>
     
    </main>
     


    <footer>
      <p>Web Manager &copy; 2023</p>
    </footer>

    <script src="user.js"></script>
  </body>
</html>
